@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.pacifico{
    font-family: 'Pacifico', 'cursive'
}

.defTextCOlorGreen{
    color: #2A9E9A
}

.defBackground{
    background-color: #2A9E9A
}

.defBackground:hover{
    background-color: #19807c
}

.header{
    box-shadow: 0px 4px 22px rgba(183, 183, 183, 0.25);
}