@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Pacifico&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');

@font-face {
    font-family: 'Moontime';
    src:  url('/src/assets/MoonTime.ttf') format('truetype')
  }

@font-face {
    font-family: 'NotoSerif';
    src:  url('/src/assets/NotoSerif-Regular.ttf') format('truetype')
}

.custom_shadow{
    filter: drop-shadow(0px 0px 31px rgba(213, 213, 213, 0.25));
}

.hero{
    background-image: url("./assets/background/Hero_Background.png");
    background-size: fill;
    background-repeat: no-repeat;
}

.MoonTime{
    font-family: 'Moontime';
}

.NotoSerif{
    font-family: 'NotoSerif', sans-serif;
}

.pacifico{
    font-family: 'Pacifico', 'cursive'
}

.font-inter{
    font-family: 'Inter';
}

.font-quicksand{
    font-family: 'Quicksand', sans-serif;
}

.font-roboto{
    font-family: 'Roboto', sans-serif;
}

.defTextCOlorGreen{
    color : #2A9E9A
}

.defText-Col-2{
    color : #1D1D41
}

.defBackground-nohover{
    background-color: #2A9E9A
}

.loft-defbg{
    background-color: #2A9E9A
}

.loft-defbg:hover{
    background-color: #19807c
}

.defBackground{
    background-color: #2A9E9A
}

.defBackground:hover{
    background-color: #19807c
}

.HHeader{
    box-shadow: 0px 4px 22px rgba(221, 221, 221, 0.25);
}

.hero-bg{
    background-image: url("https://images.unsplash.com/photo-1511389026070-a14ae610a1be?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8bWluaW1hbGlzdCUyMHJvb218ZW58MHx8MHx8&w=1000&q=80");
    background-size: cover;
}

.google_signin{
    background: #FFFFFF;
    border: 1px solid #E3E3E3;
    box-shadow: 0px 4px 9px rgba(190, 190, 190, 0.25);
}

.google_signin:hover{
    background-color: rgb(247, 247, 247);
}

/* Chat */

.scrollbar-w-2::-webkit-scrollbar {
    width: 0.6rem;
    height: 0.25rem;
  }
  
  .scrollbar-track-blue-lighter::-webkit-scrollbar-track {
    background-color: rgba(247, 250, 252, 1);
  }
  
  .scrollbar-thumb-blue::-webkit-scrollbar-thumb {
    background-color: rgb(88, 89, 90);
  }
  
  .scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
    border-radius: 0.25rem;
    background-color: rgba(10, 68, 78, 0.212);
  }